.menu {
  padding: 0;margin: 0;
  list-style: none;
  display: flex;
}

.menu-item {
  position: relative;
  margin-right: 15px;
  outline: 2px solid tomato;
}

.menu-item:hover .submenu {
  display: block;
}

.menu-link {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: teal;
  color: black;
}

.submenu {
position: absolute;
left:0;
top: 100%;
width: 100%;


  padding: 0;
  margin: 0;
  list-style: none;
 
  
  background-color: rgb(79, 158, 97);

  display: none;
}

.submenu a {
 text-decoration: none;
}



/* label {
  display: block;
} */
*::after, *::before {
  box-sizing: border-box;
  margin: auto; padding: 20px;}
.forms {
  width: 600px; 
  /* margin-left: auto;
  margin-right: auto; */
outline: 2px solid red;
padding-left: 20px;
}

.form-field {
  outline: 1px solid blue;
  display: flex;
  flex-direction: column;
}


/* 
===============
Modal form 
===============
*/

.modal-box {
  display: flex;
  text-align: left;
}
.form-title {
  display: block;
  text-align: center;
  margin-bottom: 12px;

  font-weight: 700;
font-size: 20px;
line-height: 1.15 ;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}

.modal-form {
 width: 100%;
}

.modal-label,
.form-label-text,
.label-checkbox, .comment,
.modal-label-comment
 {
  display: block;
 
}

.modal-label {
  /* position: relative; */
 
}


.form-label-text {
  position: relative;
 display: inline-block;
  text-align: left;
  
font-size: 12px;
line-height: 1.16;

letter-spacing: 0.01em;

color: #757575;
}
.form-input {
  /* border: none; */
  padding: 11px 12px 11px 30px;

  border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
  width: 100%;
}
.form-icon {
  position: absolute;
  /* top: 0; */
  left: 45px;
  
  fill: #212121;
}


/* .agreement {
  display: block;
  width: 100%;
} */
.comment {
  width: 100%;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
}
.agreement-text {
  font-size: 14px;
line-height: 1.71;

letter-spacing: 0.03em;

color: #757575;
}
.accent-agreement {
  text-decoration-line: underline;

color: #2196F3;
}

/* chackbox style */

.label-checkbox {
  position: relative;
display: flex;
align-items: center;
justify-content: center;
}
.custom-checkbox {

width: 16px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  border: 1px solid #212121;
 
  border-radius: 3px;
}
.stick-icon {
  
  position: absolute;
  top: 3px;
  left: 16px;

opacity: 1;

/* transition: opacity 250ms ease; */
}

.checkbox:checked+.custom-checkbox {
  background-color: var(--accent-color);
}
.checkbox:checked+.custom-checkbox .stick-icon {
opacity: 1;
}
